* {
  box-sizing: border-box;
}

body {
  background-color: $c-1;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1344px;
  width: 100%;
  padding-inline: 32px;
  margin-inline: auto;
}

.table {
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}
